name: Swift Format

on:
  push:
    branches:
      - main

concurrency:
  group: format-${{ github.ref }}
  cancel-in-progress: true

jobs:
  swift_format:
    name: swift-format
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Install swift-format
        run: brew install swift-format

      - name: Format
        run: swift-format format --ignore-unparsable-files --recursive --in-place Sources Tests

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Run swift-format
          branch: 'main'
